<a href="https://colab.research.google.com/github/rajkbs/ML-Project/blob/main/kNN_Algorithm_with_Titanic_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **kNN Algorithm**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ML Projects/Dataset/titanic.csv");

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df['survived'].count()

891

In [ ]:
df['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.drop(["who", "adult_male", "deck", "embark_town", "alive", "alone"], axis = 1, inplace = True)

In [ ]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  class
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

In [ ]:
per = df.isnull ().sum () * 100 / len (df)

In [ ]:
print(per)

survived     0.000000
pclass       0.000000
sex          0.000000
age         19.865320
sibsp        0.000000
parch        0.000000
fare         0.000000
embarked     0.224467
class        0.000000
dtype: float64

In [ ]:
df["age"] = df["age"].fillna(df["age"].median())

In [ ]:
df['embarked'].value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [ ]:
df['embarked'].isna().sum()

2

In [ ]:
print(df["embarked"].mode())
df["embarked"] = df["embarked"].fillna("S")

0    S
Name: embarked, dtype: object

In [ ]:
df["embarked"].value_counts()

S    646
C    168
Q     77
Name: embarked, dtype: int64

In [ ]:
df.embarked.replace(['S', 'C', 'Q'], [1, 2, 3], inplace=True)

In [ ]:
df.sex.replace(['male', 'female'], [1, 0], inplace=True)

In [ ]:
df["class"].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns = ['class'])
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class_First,class_Second,class_Third
0,0,3,1,22.0,1,0,7.2500,1,0,0,1
1,1,1,0,38.0,1,0,71.2833,2,1,0,0
2,1,3,0,26.0,0,0,7.9250,1,0,0,1
3,1,1,0,35.0,1,0,53.1000,1,1,0,0
4,0,3,1,35.0,0,0,8.0500,1,0,0,1

In [ ]:
# importing libraries
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from collections import Counter
from sklearn.model_selection import cross_validate

In [ ]:
X = df.drop("survived", 1)

<ipython-input-27-5ebf4da0d841>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop("survived", 1)

In [ ]:
X.head()

,pclass,sex,age,sibsp,parch,fare,embarked,class_First,class_Second,class_Third
0,3,1,22.0,1,0,7.2500,1,0,0,1
1,1,0,38.0,1,0,71.2833,2,1,0,0
2,3,0,26.0,0,0,7.9250,1,0,0,1
3,1,0,35.0,1,0,53.1000,1,1,0,0
4,3,1,35.0,0,0,8.0500,1,0,0,1

In [ ]:
y = df['survived']

In [ ]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [ ]:
prediction = knn.predict(X_test)
print(knn.score(X_test,y_test))

0.7039106145251397